<% if @posts.empty? %>
 <p> No Posts </p>

<% else %>
	<% @posts.each do |post| %>
	  <p><%= post.content %> </p>
	  <p><%= "#{post.creator.first_name} #{post.creator.last_name}"%>  <%="> #{post.user.first_name} #{post.user.last_name}" unless post.creator == post.user %> </p>
	  <p><%= time_ago_in_words(post.created_at) %></p>
    <% if post.creator_id == current_user.id %>
	    <%= link_to "Edit", edit_post_path(post) %>
	  <% end %>
	  <% if post.creator_id == current_user.id || post.user_id == current_user.id %>
	    <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
	  <% end %>
	  <br />

	<% end %>
<% end %>