<h1> Page </h1>

<%= "#{@user.first_name} #{@user.last_name}" %> <br />

<% unless @user == current_user %>

  <% if current_user.friends.include?(@user) %>
    <%= render 'shared/remove_friend', object: @user %>

  <% elsif current_user.requesting_friendships.include?(@user) %>
    <%= render 'shared/incoming_request', object: @user %>

  <% elsif current_user.pending_friendships.include?(@user) %>
    <%= render 'shared/cancel_request', object: @user %>

  <% else %>
    <%= render 'shared/add_friend', object: @user %>
    
<% end %>

<% end %>


<%= render 'shared/post_form' %>


<br />

<%= render 'users/friends_list' %>


<%= render 'users/posts' %>