<h1> Page </h1>

<%= "#{@user.first_name} #{@user.last_name}" %> <br />

<% unless @user == current_user %>

  <%= render 'users/friend_forms' %>

<% end %>

<% if @user == current_user %>

  <%= render 'shared/post_form' %>

<% end %>

<br />

<%= render 'users/friends_list' %>


<%= render 'users/posts' %>