<h1> Post</h1>
<p><%= @post.content %> </p>
<p><%= "#{@post.creator.first_name} #{@post.creator.last_name}"%>  <%="> #{@post.user.first_name} #{@post.user.last_name}" unless @post.creator == @post.user %> </p>
<p><%= time_ago_in_words(@post.created_at) %></p>
<p><%= pluralize(@post.likes.count, 'Like') %></p>
<p><%= pluralize(@post.comments.count, 'Comment') %></p>
<%= link_to "Edit", edit_post_path(@post) if @post.creator_id == current_user.id %>	  
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } if (@post.creator_id == current_user.id || @post.user_id == current_user.id)  %>

<% if @post.likes.pluck(:user_id).include?(current_user.id) %>
  <%= link_to "Unlike", like_path(@post.likes.where(user: current_user).last), method: :delete %>
<% else %>
  <%= link_to "Like", likes_path(:post_id => @post.id), method: :post %>

<% end %>

<% if @post.user.friends.include?(current_user) || @post.user == current_user %>
	<%= form_for @comment do |f| %>
	  
	  <%= f.text_area :content, placeholder: "Comment on this..." %>
	  <%= f.hidden_field :post_id,    value: @post.id %>
	  <%= f.submit "Post Comment" %> 

	<% end %>
<% end %>

<% if @comments.empty? %>
  <p> No Comments Yet <p>
<% else %>
  <%= render 'shared/comments', object: @comments %>
<% end %>